/*pre-defining fonts*/

small {
 font-size: smaller;
 }
big {
 font-size: larger;
 }
h1 {
 font-size: xx-large;
 }
h2 {
 font-size: x-large;
 }
h3 {
 font-size: large;
 }
h4 {
 font-size: medium;
 }
h5 {
 font-size: small;
 }
h6 {
 font-size: xx-small;
 }
font[size=1] {
 font-size: xx-small;
 }
font[size=2] {
 font-size: small;
 }
font[size=3] {
 font-size: medium;
 }
font[size=4] {
 font-size: large;
 }
font[size=5] {
 font-size: x-large;
 }
font[size=6] {
 font-size: xx-large;
 }
font[size=7] {
 font-size: 300%;
 }
font[size=-1] {
 font-size: smaller;
 }
font[size=+1] {
 font-size: larger;
 }
font[size=-2] {
 font-size: 60%;
 }
font[size=+2] {
 font-size: 150%;
 }
font[size=+4] {
 font-size: 300%;
 }
 
pre{
	font-size: medium;
}
 /* end of font size pre-definition*/


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: medium;
}

#menuitem A:link {
color: white;
text-decoration: none;
}

A:link {
	color: #0000FF;
	text-decoration: none;
}

#menuitem A:Visited {
color: #FFFFFF;
}

A:Visited  {
color: #003399;
text-decoration: none;
}

#menuitem A:hover {
color : #F0E68C;
text-decoration : underline;
}

A:hover {
color : #FF0000;
text-decoration : underline;
}

h1 {
	font-size: 17pt;
	font-family: Arial, Helvetica, San Serif;
	margin-bottom: 2pt;
	margin-top: 2pt;
}
h2 {
	font-size : 15pt;
	font-family : Arial, Helvetica, San Serif;
	margin-bottom: 2pt;
	margin-top: 2pt;
}
h3 {
	font-size : 13pt;
	font-family : Arial, Helvetica, San Serif;
	margin-bottom: 2pt;
	margin-top: 2pt;
}

.white  {
	font-size : 9pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
}

.whitesmall  {
	font-size : 8.5pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
	background-color:#DFE3FE
}
.bottomnav  {
	font-size: 8pt;
	color: #F0E68C;
	font-weight: bold;
	font-family: Arial, Helvetica, San Serif;
	background-color: #0A2390;
	text-align: center;
	margin-bottom: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.bottomnav A:hover  {
	font-size: 8pt;
	color: #F0E68C;
}
.bottomnav A:link  {
	font-size: 8pt;
	color: #F0E68C;
}
.bottomnav A:visited  {
	font-size: 8pt;
	color: #F0E68C;
}
.yellow  {
	font-family : Arial, Helvetica, San Serif;
	font-size : 9pt;
	font-weight : bold;
	color : #F0E68C;
}

.searchinput, .searchinput SELECT, .searchinput INPUT  {
	font-size : 8pt;
}

td  {
	font-size : 9pt;
	font-family : Arial, Helvetica, San Serif;
}

.gray  {
	font-size : 8pt;
	color : #808080;
}

.nav  {
	font-size : 9pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
}

.nwslink  {
	font-size : 9pt;
	color: Black;
	text-decoration: none;
	font-family : Arial, Helvetica, San Serif;
}

/* smalllink */
.smalllink  {
	font-size : 8pt;
	color: blue;
	font-family : Arial, Helvetica, San Serif;
}
.smalllink a:hover {
	color: #FF0000;
}
/* End smalllink */

.srhwhite  {
	font-size : 9pt;
	text-decoration: none;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
}

.small {
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}
.small a {
	text-decoration: none;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0000FF;
}
.small a:visited {
	text-decoration: none;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0000FF;
}
.small a:hover {
	text-decoration: underline;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FF0000;
}
.zoom a {
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
}
.zoom a:visited {
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
}
.zoom a:hover {
	text-decoration: underline;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: Gold;
}
.graybackground {
	background-color: #F5F5F5;
}

.source  {
	font-size: 14px;
	color: White;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.location  {
	font-size: 24px;
	color: White;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.tabs {
	text-decoration: none;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
}

.tabs a {
	text-decoration: none;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0000FF;

}
.tabs a:visited {
	text-decoration: none;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #0000FF;
}
.tabs a:hover {
	text-decoration: underline;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FF0000;
}
.red {
color: #FF0000;
font-size: medium
}
.table_banner {
	background-image:url("http://www.prh.noaa.gov/images/banner_background.jpg");
	background-repeat: repeat-x;
}
.pagetitle {
	font-size: large;
	font-weight: bold;
	color: #000000;
}
.breadcrumb{
	font-size:small;
}
.wwamaplegend {
	border: 1px solid Black;
	width: 15px;
	height: 10px;
	font-size: 8px;
}
#oceansites {
	position:absolute;
	left:270px;
	top:495px;
	width:410px;
	text-align:center;
	}
.wwamaptable {
	border-color: #CCCCCC;
	border-style: solid;
	background-color: #E0FFFF;
/*	background-color: #CCFFFF;*/
	border-spacing: 0px;
	border-width: 1px; 
	padding: 0px;
	}
.tablewwamaplegend {
	border: 1px solid #CCCCCC;
	font-size: 8px;
	background-color: White;
}
.tabel_blue {
background:#0A2390;
}
