body {
  background-color: #0099bb;
  padding: 10px;
}
.tsunani {
  font-family: 'Lobster', cursive;
}

.main {
  background-color: white;
  border-radius: 10px;
  padding:10px;
}
.logIn {
    margin-top: 15px;

}
.logOut {
  margin-top: 10px;
  margin-right: 5px;
}

#map {
  margin-left: 40px;
  color: #333;
}

.overlay {
  width:570px;
  height:462px;
  border: 1px solid black;

  position: absolute;
}