body {
  background-color: #badada;
  padding: 10px
}
.tsunani {
  font-family: 'Lobster', cursive;
}

.main {
  background-color: white;
  border-radius: 10px;
  padding:10px;
}

#map {
  margin-left: 40px;
}

.overlay {
  width:570px;
  height:462px;
  border: 1px solid black;

  position: absolute;
}