<template name="heightTable">
<!-- from mapDisplay.js -->

<table class="table table-striped table-condensed table-hover table-bordered surfTable" border="0">

<thead>
  <td><strong>Direction</strong></td>
  <td><strong>Today</strong></td>
  <td><strong>Tomorrow</strong></td>
</thead>

<tr>
  <td><strong>North</strong></td>
  <td>{{northMin}}' to {{northMax}}'</td>
  <td>{{tomorrowNorthMin}}' to {{tomorrowNorthMax}}'</td>
</tr>
<tr>
  <td><strong>South</strong></td>
  <td>{{southMin}}' to {{southMax}}'</td>
  <td>{{tomorrowSouthMin}}' to {{tomorrowSouthMax}}'</td>
</tr>
<tr>
  <td><strong>East</strong></td>
  <td>{{eastMin}}' to {{eastMax}}'</td>
  <td>{{tomorrowEastMin}}' to {{tomorrowEastMax}}'</td>
</tr>
<tr>
  <td><strong>West</strong></td>
  <td>{{westMin}}' to {{westMax}}'</td>
  <td>{{tomorrowWestMin}}' to {{tomorrowWestMax}}'</td>
</tr>
</table>


</template> 