body {
  background-color: #0099bb !important;
  padding: 20px;
}
.surfTable {
  margin-top:15%;
}

.tsunani {
  font-family: 'Lobster', cursive;
}

.main {
  background-color: white;
  border-radius: 10px;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  margin-bottom: 10px;
}

.mapAndTable {
  margin-bottom: 20px;
}


.logIn {
    margin-top: 15px;

}
.logOut {
  margin-top: 10px;
  margin-right: 5px;
}

#map {
  margin-left: 40px;
  color: #333;
}

.overlay {
  width:570px;
  height:462px;
  border: 1px solid black;
  position: absolute;
}

#myCarousel {
  margin-top: 20px;
}

.caption1Header {
  position: absolute;
  margin-left: 215px;
  margin-top: 20px;
  color:white;
  font-size: 28px;
  font-family: 'Lobster', cursive;
    text-shadow: rgba(0,0,0,0.75) 1px 1px 2px;

}
.caption2Header {
  position: absolute;
  margin-left: 65px;
  margin-top: 30px;
  color:white;
  font-size: 28px;
  font-family: 'Lobster', cursive;
    text-shadow: rgba(0,0,0,0.75) 1px 1px 2px;
}

.caption2{
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 26px;
}

.caption3Header {
  position: absolute;
  margin-left: 195px;
  margin-top: 70px;
  color:white;
  font-size: 42px;
  font-family: 'Lobster', cursive;
    text-shadow: rgba(0,0,0,0.75) 1px 1px 2px;

}

.carousel-control {
  margin-top: 0px !important;
}
.caption1 {
  position: absolute;
  margin-left: 215px;
  margin-top: 60px;
  color:white;
  font-size: 22px;
  text-shadow: rgba(0,0,0,0.75) 1px 1px 2px;

}

.caption1 li {
  padding-bottom: 10px;
  text-shadow: rgba(0,0,0,0.75) 0px 1px 3px; 
}

.footer {
  margin-top: -10px;
}

.circleSVG {
  position: absolute;
  width:300px;
  height:250px;
  border: solid 0px #dddddd;
  border-radius: 3px;
}
.mapSVG {

}

.text1 {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

h3 {
-moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​

