body {
  background-color: #0099bb;
  padding: 20px;
}
.surfTable {
  margin-top:15%;
}

.tsunani {
  font-family: 'Lobster', cursive;
}

.main {
  background-color: white;
  border-radius: 10px;
  padding:10px;
}
.logIn {
    margin-top: 15px;

}
.logOut {
  margin-top: 10px;
  margin-right: 5px;
}

#map {
  margin-left: 40px;
  color: #333;
}

.overlay {
  width:570px;
  height:462px;
  border: 1px solid black;

  position: absolute;
}


.footer {
  margin-top: -10px;
}

.circleSVG {
  position: absolute;
  width:270px;
  height:250px;
  border: solid 0px #dddddd;
  border-radius: 3px;
}

.text1 {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

h3 {
-moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​

