<head>
  <title>tsunani</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>


</head>

<body>


  <div class="container">
  <div class="row fixed">
      <div class = "span8 offset2 main">
         <div class="row fixed header">
          <div class="span3 logo">
            <h1 class="tsunani">Tsunani</h1>
          </div>
          <div class="span5 login">
            {{#if currentUser}}
              {{> logOut}}
            {{else}}
              {{> logIn}}
            {{/if}}
          </div>
       </div>   

        {{#if currentUser}}
          {{> userSettings}} <!-- change back to userSettings -->
        {{else}}
          {{> signUp}}
          {{>about}}
          {{> footer}}
          {{/if}}
      </div>

  </div>
</div>
</body>

<template name="signUp">
  <div class="row fixed mapAndTable">
  <div class="span4">
    {{> map}}     
    </div>
  <div class="span4">
    {{> heightTable}}
  </div>  
  </div>

  <div class="row">
    <div class="span8">
      <div class="pull-right"><form class="form-inline control-group">
        <strong><i class='icon-arrow-right'></i> Get free text alerts when the surf is up!</strong> <input type="text" class="input-small phoneNumber" placeholder="808-555-5555"/>
        <button type="button" class="btn btn-success" id="submit">Sign Up!</button>
        </form> 
        <span class="label label-important pull-right">{{validNumber}}</span>
        <span class="label label-important pull-right">{{userExists}}</span>

      </div>
    </div>
  </div>
</template>

<template name="about">
  <div class="row">
  <div class="span8">
  
  <div id="myCarousel" class="carousel slide" data-interval="5000">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="caption1Header">
       Free text updates <br />
        &nbsp;&nbsp;of current surf conditions.
      </div>
      <img src='../../banner.jpg' class="img-rounded"></div>

      <div class="item">
      <div class="caption2Header">
       Choose:<br />
       <p class='caption2'>
       &nbsp;• What days you get notified <br />
       &nbsp;• The shores you care about <br />
       &nbsp;• The waves you want <br /></p>
      </div>
      <img src='../../banner2.jpg' class="img-rounded">
     </div>
     
    <div class="item">
       <div class="caption3Header">
      Sign up now!
      </div><img src='../../banner3.jpg' class="img-rounded"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

 </div>
  </div>
</template>

<template name="footer">
  <div class="row">
  <div class="span8">
    <hr>
    <div class="pull-right inline-block footer muted">
     <a href='mailto:jpw@hawaii.edu'>Contact</a> | <a href='http://www.prh.noaa.gov/hnl/pages/SRF.php'>Surf Data from the NOAA</a></div>
  </div>  
  </div>
</template>




