<template name="userSettings">
  <h3>Welcome, {{currentUser.username}}!</h3><hr>

{{#if isAdmin}}
  {{> adminPage}}
{{/if}}

{{#unless verified}}
  {{> unverified}}
{{/unless}}
  
    <h2>Surf Options</h2>
      <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="input-append">Notify by height:</label>
      <div class="controls">
          {{#isolate}}
        <div class="input-append">
    <!-- minHeight gets value from maxHeight, fixed with empty string in minHeight-->
          <input class="input-mini minHeight" id="appendedInput" placeholder="{{minHeight}}" value="" type="text">
          <span class="add-on">ft</span>
          </div>
          {{/isolate}}
          {{#isolate}}
           to <div class="input-append">
          <input class="input-mini maxHeight" id="appendedInput" placeholder="{{maxHeight}}"  type="text">
          <span class="add-on">ft</span>
        </div>
          {{/isolate}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="btn-group">Notify for shores:</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" id="north" class="btn btn-primary dir {{northActive}}">North</button>
          <button type="button" id="south" class="btn btn-primary dir {{southActive}}">South</button>
          <button type="button" id="east" class="btn btn-primary dir {{eastActive}}">East</button>
          <button type="button" id="west" class="btn btn-primary dir {{westActive}}">West</button>
        </div>
      </div>
    </div>

    <h2>Text Options</h2>

    <div class="control-group">
      <label class="control-label" for="btn-group">Notifications:</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary notifyTextTrue {{notifyTextTrue}}">On</button>
        <button type="button" class="btn btn-primary notifyTextFalse {{notifyTextFalse}}">Off</button>
        </div>
      </div>
    </div>

        <div class="control-group">
      <label class="control-label" for="btn-group">Send updates on:</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" id="mon" class="btn btn-primary day {{monActive}}">Mon</button>
          <button type="button" id="tue" class="btn btn-primary day {{tueActive}}">Tue</button>
          <button type="button" id="wed" class="btn btn-primary day {{wedActive}}">Wed</button>
          <button type="button" id="thu" class="btn btn-primary day {{thuActive}}">Thu</button>
          <button type="button" id="fri" class="btn btn-primary day {{friActive}}">Fri</button>
          <button type="button" id="sat" class="btn btn-primary day {{satActive}}">Sat</button>
          <button type="button" id="sun" class="btn btn-primary day {{sunActive}}">Sun</button>

        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="btn-group">Text me:</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary todaysHeights {{today}}">Today's heights</button>
        <button type="button" class="btn btn-primary tomorrowsHeights {{tomorrow}}">Tomorrow's heights</button>
        </div>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="hours">Send text at:</label>
      <div class="controls">
        <select class="input-mini" id="hours" >
          {{#each userHours}}
          <option {{selected}}>{{number}}</option>
          {{/each}}
        </select> : 
        <select class="input-mini" id="mins">
          {{#each userMins}}
          <option {{selected}}>{{number}}</option>
          {{/each}}
        </select>
        <select class="input-mini" id="amPm">
          <option {{amSelected}}>AM</option>
          <option {{pmSelected}}>PM</option>
        </select>
        <span class="label label-info time">Hawaiian Time {{#isolate}}{{showTime}}{{/isolate}}</span>

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="pin">Surfs Up!</label>
      <div class="controls">
        <button type="button" class="btn btn-success save">Save Changes</button>
      </div>
    </div>
  {{profile}}
</template>

<template name ="unverified">
  <p><div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Thank you for registering!</strong> {{verified}}
  </div></p>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="pin">Enter your pin:</label>
      <div class="controls">
        <input class="input-mini" id="pin" type="text" placeholder="xxxx">
        <button type="button" class="btn btn-success verifyButton">Verify your number</button>
      </div>
    </div>
</template>